# .gitignore
# Erstmal alles ignorieren
*
!.gitignore

## Only include this folders
!/Esp32_WiFiManager_ConfigOnStartUp/
!/Esp32_WiFiManager_ConfigOnStartUp/**

!/Esp32_WiFiManager_ConfigOnSwitchFS/
!/Esp32_WiFiManager_ConfigOnSwitchFS/**















